Project1/cifar-10-batches-py/test_batch
Project1/cifar-10-batches-py/readme.html
Project1/cifar-10-batches-py/data_batch_5
Project1/cifar-10-batches-py/data_batch_4
Project1/cifar-10-batches-py/data_batch_3
Project1/cifar-10-batches-py/data_batch_2
Project1/cifar-10-batches-py/data_batch_1
Project1/cifar-10-batches-py/batches.meta
Project1/mnist_dataset/test_batch
Project1/mnist_dataset/data_batch_6
Project1/mnist_dataset/data_batch_5
Project1/mnist_dataset/data_batch_4
Project1/mnist_dataset/data_batch_3
Project1/mnist_dataset/data_batch_2
Project1/mnist_dataset/data_batch_1
Project1/mnist_dataset/batches.meta
Project1/.idea/vcs.xml
